@(user: User, prescription: Prescription, createPrescriptionForm: Form[Prescription])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Create Prescription <small><a href="@routes.Prescriptions.editPrescription(prescription.id)">Or edit an existing prescription</a></small>
}

@main(user) {
    
    @helper.form(action = routes.Prescriptions.submitCreatePrescription) {
        
        <fieldset class="createAccount">
            <legend>Prescription information</legend>
 
			<div class="clearfix  " id="id_field">
				<label for="id">ID</label>
				<div class="input">					
					@prescription.id
					<span class="help-inline"></span>
					<span class="help-block">This is the prescription id.</span> 
				</div>
			</div>
 
            @inputText(
                createPrescriptionForm("patientName"), 
                '_label -> "Patient Name", 
                '_help -> "Please choose a valid patient name.",
                '_error -> createPrescriptionForm.globalError
            )
            
            @inputText(
                createPrescriptionForm("staffName"), '_label -> "Staff Name",
                '_help -> "Enter a valid staff name."
            )
			
            @inputText(
                createPrescriptionForm("medicationName"), '_label -> "Medication Name",
                '_help -> "Enter a valid medication name."
            )	

            @inputText(
                createPrescriptionForm("dosage"), '_label -> "Dosage",
                '_help -> "Enter the prescribed dosage."
            )			
			
            @inputText(
                createPrescriptionForm("frequency"), '_label -> "Frequency",
                '_help -> "Enter the prescribed frequency."
            )

            @inputDate(
                createPrescriptionForm("endDate"), '_label -> "End Date",
                '_help -> "Enter the date when the patient should stop taking the prescription."
            )				
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
            <a href="@routes.Prescriptions.index" class="btn">Cancel</a>
        </div>
        
    }
    
}