@(user: User, userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up <small><a href="/editUser/:@user.id">Or edit an existing user</a></small>
}

@main(user) {
    
    @helper.form(action = routes.CreateUser.submitCreateUser) {
        
        <fieldset class="createUser">
            <legend>Account information</legend>
 
			<div class="clearfix" id="id_field">
				<label for="id">ID</label>
				<div class="input">					
					@user.id
					<span class="help-inline"></span>
					<span class="help-block">This is the user id.</span> 
				</div>
			</div>
 
            @inputText(
                userForm("username"), 
                '_label -> "Name", 
                '_help -> "Please choose a valid name.",
                '_error -> userForm.globalError
            )
            
            @inputText(
                userForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                userForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
            @inputPassword(
                userForm("repeatPassword"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> userForm.error("password")
            )
			
            @select(
                userForm("user_type"), 
                options = options(UserTypes.list),
                '_default -> "--- Choose a User Type ---",
                '_label -> "User type",
                '_error -> userForm("user_type").error.map(_.withMessage("Please select a user type"))
            )  			
            
        </fieldset>
        
        <fieldset class="createUser">
            
            <legend>Contact information</legend>
 
            @inputText(
                userForm("phone"), '_label -> "Phone",
                '_help -> "Enter a valid phone number."
            )

            @textarea(
                userForm("address"), 
                '_label -> "Address", 'cols -> 50
            )
			
            @inputText(
                userForm("city"), '_label -> "City"
            )		
 
            @inputText(
                userForm("state_"), '_label -> "State"
            )		
            
            @select(
                userForm("country"), 
                options = options(Countries.list),
                '_default -> "--- Choose a country ---",
                '_label -> "Country",
                '_error -> userForm("country").error.map(_.withMessage("Please select your country"))
            )        
            
            @inputText(
                userForm("age"), 
                '_label -> "Age", 'class -> "mini",
                '_showConstraints -> false
            )
              
        </fieldset>
		@if((user.username == null) && (user == null)) {	       
        <fieldset class="createUser">
            
            @checkbox(
                userForm("accept"), 
                '_label -> None, '_text -> "You agree the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        }
        <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
            <a href="/" class="btn">Cancel</a>
        </div>
        
    }
    
}