@(user: User, editAccountForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up <small><a href="/editUser/@user.id">Or edit an existing user</a></small>
}

@main(user) {
    
    @helper.form(action = routes.Users.updateUser(user.id)) {
        
        <fieldset class="editAccount">
            <legend>Account information</legend>
 
			<div class="clearfix  " id="id_field">
				<label for="id">ID</label>
				<div class="input">					
					@user.id
					<span class="help-inline"></span>
					<span class="help-block">This is the user id.</span> 
				</div>
			</div>
 
            @inputText(
                editAccountForm("username"), 
                '_label -> "Name", 
                '_help -> "Please choose a valid name.",
                '_error -> editAccountForm.globalError
            )
            
            @inputText(
                editAccountForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                editAccountForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
            @inputPassword(
                editAccountForm("repeatPassword"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> editAccountForm.error("password")
            )
			
            @select(
                editAccountForm("user_type"), 
                options = options(UserTypes.list),
                '_default -> "--- Choose a User Type ---",
                '_label -> "User type",
                '_error -> editAccountForm("user_type").error.map(_.withMessage("Please select a user type"))
            )  			
            
        </fieldset>
        
        <fieldset class="editAccount">
            
            <legend>Contact information</legend>
 
            @inputText(
                editAccountForm("phone"), '_label -> "Phone",
                '_help -> "Enter a valid phone number."
            )

            @textarea(
                editAccountForm("address"), 
                '_label -> "Address", 'cols -> 50
            )
			
            @inputText(
                editAccountForm("city"), '_label -> "City"
            )		
 
            @inputText(
                editAccountForm("state_"), '_label -> "State"
            )		
            
            @select(
                editAccountForm("country"), 
                options = options(Countries.list),
                '_default -> "--- Choose a country ---",
                '_label -> "Country",
                '_error -> editAccountForm("country").error.map(_.withMessage("Please select your country"))
            )        
            
            @inputText(
                editAccountForm("age"), 
                '_label -> "Age", 'class -> "mini",
                '_showConstraints -> false
            )
              
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
            <a href="/" class="btn">Cancel</a>
        </div>
        
    }
    
}