@(user: User, userForm: User)

@main(user) {
 
<section id="summary"> 
    <h2>Account information:</h2>
    
    <h6>User ID</h6>
    
    <p>
        @userForm.id
    </p>	
	
    <h6>Username</h6>
    
    <p>
        @userForm.username
    </p>
    
    <h6>Email</h6>
    
    <p>
        @userForm.email
    </p>
    
    <h6>Password</h6>
    
    <p>
        hidden
    </p>
	
    <h6>User Type</h6>
    
    <p>
        @userForm.user_type
    </p>	
    
    <h2>Additional information:</h2>
	
    <h6>Phone</h6>
    
    <p>
        @userForm.phone
    </p>	
	
    <h6>Address</h6>
    
    <p>
        @if(userForm.address == null || userForm.address == "") {
            <em>Not specified</em>
        } else {
            @userForm.address
        }
    </p>	
	
    <h6>City</h6>
    
    <p>
        @if(userForm.city == null || userForm.city == "") {
            <em>Not specified</em>
        } else {
            @userForm.city
        }
    </p>

	<h6>State</h6>
    
    <p>
        @if(userForm.state_ == null || userForm.state_ == "") {
            <em>Not specified</em>
        } else {
            @userForm.state_
        }
    </p>	
    
    <h6>Country</h6>
    
    <p>
        @if(userForm.country == null || userForm.country == "") {
            <em>Not specified</em>
        } else {
            @userForm.country
        }
    </p>
    
    <h6>Age</h6>
    
    <p>
        @if(userForm.age == null) {
            <em>Not specified</em>
        } else {
            @userForm.age
        }
    </p>
</section>   
	@ok(user)	
}