@(user: User, userViewed: User, examList: List[Exam])

@main(user) {
 
<section id="summary"> 
    <h2>Account information:</h2>
    
    <h6>User ID</h6>
    
    <p>
        @userViewed.id
    </p>	
	
    <h6>Username</h6>
    
    <p>
        @userViewed.username
    </p>
	
    <h6>Staff Name</h6>
    
    <p>
        @userViewed.staffName
    </p>	
    
    <h6>Email</h6>
    
    <p>
        @userViewed.email
    </p>
    
    <h6>Password</h6>
    
    <p>
        hidden
    </p>
	
    <h6>User Type</h6>
    
    <p>
        @userViewed.user_type
    </p>	
    
    <h2>Additional information:</h2>
	
    <h6>Phone</h6>
    
    <p>
        @userViewed.phone
    </p>	
	
    <h6>Address</h6>
    
    <p>
        @if(userViewed.address == null || userViewed.address == "") {
            <em>Not specified</em>
        } else {
            @userViewed.address
        }
    </p>	
	
    <h6>City</h6>
    
    <p>
        @if(userViewed.city == null || userViewed.city == "") {
            <em>Not specified</em>
        } else {
            @userViewed.city
        }
    </p>

	<h6>State</h6>
    
    <p>
        @if(userViewed.state_ == null || userViewed.state_ == "") {
            <em>Not specified</em>
        } else {
            @userViewed.state_
        }
    </p>	
    
    <h6>Country</h6>
    
    <p>
        @if(userViewed.country == null || userViewed.country == "") {
            <em>Not specified</em>
        } else {
            @userViewed.country
        }
    </p>
    
    <h6>Age</h6>
    
    <p>
        @if(userViewed.age == null) {
            <em>Not specified</em>
        } else {
            @userViewed.age
        }
    </p>
</section>   
<section class="graphs" style="float:right; position: absolute; top:40px; left: 450px;">
	@graphs.systolic(userViewed, examList)
	@graphs.diastolic(userViewed, examList)
</section>
<section class="graphs" style="float:right; position: absolute; top:40px; left: 850px;">
	@graphs.bloodsugar(userViewed, examList)
	@graphs.weight(userViewed, examList)
</section>
	@ok(user)	
}