@(user: User, currentPage: com.avaje.ebean.Page[User], currentSortBy: String, currentOrder: String, currentFilter: String, currentFilterable: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Users.viewUsers(newPage, sortBy, order, currentFilter, currentFilterable)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(user) {

<section id="list">
    
    <h1 id="homeTitle">@Messages("users.viewUsers.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "username")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by @currentFilterable...">
            <input type="submit" id="searchsubmit" value="Filter by @currentFilterable" class="btn primary">
        </form>
        
        <a class="btn success" id="add" href="/createUser/@(currentPage.getTotalRowCount + 1)">Add a new user</a>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="users zebra-striped">
            <thead>
                <tr>
                    @header("id", "ID")             
                    @header("username", "User name")
                    @header("staffName", "Staff name")					
                    @header("email", "Email Address")
                    @header("phone", "Phone Number")                    
                    @header("user_type", "User Type")
                    @header("address", "Address")   
                    @header("city", "City")
                    @header("state_", "State")
                    @header("country", "Country")                   
                    @header("age", "Age")                           
                </tr>
            </thead>
            <tbody>

                @for(listUser <- currentPage.getList) {
                    <tr>
                        <td>
                            <span><a href="/deleteUser/@listUser.id">delete</a></span>						
                            <span><a href="/editUser/@listUser.id">edit</a></span>
                            <span><a href="/viewUser/@listUser.id/@listUser.username">@listUser.id</a></span>                           
                        </td>
                        <td>
                            @if(listUser.username == null) {
                                <em>-</em>
                            } else {
                                @listUser.username
                            }
                        </td>
                        <td>
                            @if(listUser.staffName == null) {
                                <em>-</em>
                            } else {
                                @listUser.staffName
                            }
                        </td>						
                        <td>
                            @if(listUser.email == null) {
                                <em>-</em>
                            } else {
                                @listUser.email
                            }
                        </td>
                        <td>
                            @if(listUser.phone == null) {
                                <em>-</em>
                            } else {
                                @listUser.phone
                            }
                        </td>                       
                        <td>
                            @if(listUser.user_type == null) {
                                <em>-</em>
                            } else {
                                @listUser.user_type
                            }
                        </td>
                        <td>
                            @if(listUser.address == null) {
                                <em>-</em>
                            } else {
                                @listUser.address
                            }
                        </td>   
                        <td>
                            @if(listUser.city == null) {
                                <em>-</em>
                            } else {
                                @listUser.city
                            }
                        </td>               
                        <td>
                            @if(listUser.state_ == null) {
                                <em>-</em>
                            } else {
                                @listUser.state_
                            }
                        </td>   
                        <td>
                            @if(listUser.country == null) {
                                <em>-</em>
                            } else {
                                @listUser.country
                            }
                        </td>               
                        <td>
                            @if(listUser.age == null) {
                                <em>-</em>
                            } else {
                                @listUser.age
                            }
                        </td>                       
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
</section>       
}