@(user: User, exam: Exam, createExamForm: Form[Exam])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Create Exam <small><a href="@routes.Exams.editExam(exam.id)">Or edit an existing exam</a></small>
}

@main(user) {
    
    @helper.form(action = routes.Exams.updateExam(exam.id)) {
        
        <fieldset class="createAccount">
            <legend>Exam information</legend>
 
			<div class="clearfix" id="id_field">
				<label for="id">ID</label>
				<div class="input">					
					@exam.id
					<span class="help-inline"></span>
					<span class="help-block">This is the exam id.</span> 
				</div>
			</div>
 
            @inputText(
                createExamForm("patientName"), 
                '_label -> "Patient Name", 
                '_help -> "Please choose a valid patient name.",
                '_error -> createExamForm.globalError
            )
            
            @inputText(
                createExamForm("staffName"), '_label -> "Staff Name",
                '_help -> "Enter a valid staff name."
            )
			
            @inputText(
                createExamForm("systolic"), '_label -> "Systolic",
                '_help -> "Enter the Systolic blood pressure value, in units of mm Hg."
            )	

            @inputText(
                createExamForm("diastolic"), '_label -> "Diastolic",
                '_help -> "Enter the Diastolic blood pressure value, in units of mm Hg."
            )			
			
            @inputText(
                createExamForm("bloodSugar"), '_label -> "bloodSugar",
                '_help -> "Enter the blood sugar, in units of mg/dL (milligrams per decilitre)."
            )
			
            @inputText(
                createExamForm("weight"), '_label -> "weight",
                '_help -> "Enter the weight in lbs."
            )				
			
            @inputText(
                createExamForm("height"), '_label -> "height",
                '_help -> "Enter the height in inches."
            )			

            @inputDate(
                createExamForm("date"), '_label -> "Date",
                '_help -> "Enter the date when the exam took place."
            )				
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
            <a href="@routes.Exams.index" class="btn">Cancel</a>
        </div>
        
    }
    
}