@(user: User)(body: Html)

<html>
    <head>
        <title>ScalpelMRS</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images-red/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/red/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/red/bootstrap.min.css")"> 		
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/flot/jquery.flot.js")"></script>		

    </head>
    <body>
        <header>
            <a href="/" id="logo"><span>Scalpel</span>MRS</a>
            <dl id="user">			
                <dt>@user.username <span>(@user.email)</span></dt>			
                <dd>
                    <a href="/editUser/@user.id">Edit Account</a>
                </dd>	
                <dd>
                    <a href="/viewUser/@user.id">Account Summary</a>
                </dd>				
                <dd>
                    <a href="/logout">Logout</a>
                </dd>
            </dl>			
        </header>		
		<nav>			
			<h4 class="dashboard"><a href="/">Dashboard</a></h4>
			@if((user.user_type == "Doctor")) {				
				<h4 class="users"><a href="/viewUsers">Users</a></h4>						
				<h4 class="doctors"><a href="/viewUsers/doctors">Doctors</a></h4>		
				<h4 class="doctors"><a href="/viewUsers/nurses">Nurses</a></h4>						
				<h4 class="patients"><a href="/viewUsers/patients">Patients</a></h4>	
				<h4 class="exams"><a href="/viewExams/staff">Exams</a></h4>	
				<h4 class="prescriptions"><a href="/viewPrescriptions/staff">Prescriptions</a></h4>	
			} 
			@if((user.user_type == "Nurse")) {						
				<h4 class="patients"><a href="/viewUsers/patients">Patients</a></h4>	
				<h4 class="exams"><a href="/viewExams/staff">Exams</a></h4>	
				<h4 class="prescriptions"><a href="/viewPrescriptions/staff">Prescriptions</a></h4>		
			} 
			@if((user.user_type == "Patient")) {	
				<h4 class="exams"><a href="/viewExams/patients">Exams</a></h4>	
				<h4 class="prescriptions"><a href="/viewPrescriptions/patients">Prescriptions</a></h4>
			}		
		</nav>
        <section id="main">
            @body
        </section>
    </body>
</html>

